<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/system_file.xsd">
    <system>
        <tab id="briqpay" translate="label" sortOrder="999" class="briqpay-extensions-tab">
            <label>Briqpay</label>
        </tab>

        <section id="briqpay" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout</label>
            <tab>briqpay</tab>
            <resource>Briqpay_Checkout::system_config</resource>

            <group id="connection" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Connection</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="test_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Testmode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="client_id" type="text" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                    <label>Client ID</label>
                    <comment>Client ID, you will get this from Briqpay.</comment>
                </field>
                <field id="shared_secret" type="text" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                    <label>Client Secret</label>
                    <comment>The shared secret, you will get this from Briqpay.</comment>
                </field>
            </group>

            <group id="checkout_config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Checkout Config</label>
                <comment>Default country, base currency settings are fetched from store "General" scope.</comment>

                <field id="language" type="select" translate="label comment" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="10">
                    <label>Language</label>
                    <source_model>Briqpay\Checkout\Model\System\Config\Source\Language</source_model>
                    <comment>Checkout language</comment>
                </field>

                <field id="maxamount" translate="label" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="130">
                    <label>Briqpay "maxamount" setting</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="creditscoring" translate="label" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="130">
                    <label>Briqpay "creditscoring" setting</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="integrity_url" translate="label" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="130">
                    <label>Url for Itegrity Conditions Url</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                </field>

                <field id="terms_url" translate="label" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="131">
                    <label>Url for Terms page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                </field>

                <field id="register_on_checkout" translate="label" type="select" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Register on checkout?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="payment" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Payment options</label>
                <field id="autocapture" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Auto-capture card payments?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>(Please make sure, that you guarantee stock status)</comment>
                </field>

                <field id="complete_status" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Capture orders on status change?</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
            </group>

            <group id="layout" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Layout options</label>
                <field id="display_comment" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Comment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_newsletter" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Newsletter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_crosssell" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display Crosssell Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_coupon" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display Coupon</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
